<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:label="LIT HUB"
        android:supportsRtl="true"
        android:theme="@style/Theme.LitHub">

        <activity
            android:name=".admin.AdminGameDetailActivity"
            android:exported="false" />
        <activity
            android:name=".student.BooksActivity"
            android:exported="false" />
        <activity
            android:name=".student.GamesActivity"
            android:exported="false"
            android:theme="@style/Theme.LitHub" />
        <activity android:name=".student.NotificationsActivity" />
        <activity android:name=".student.ChatConversationActivity" />
        <activity android:name=".student.ChatHistoryActivity" />
        <activity android:name=".student.HomeActivity" />
        <activity android:name=".student.BookEndChapterActivity" />
        <activity android:name=".student.BookReadingActivity" />
        <activity android:name=".student.BookChaptersActivity" />
        <activity android:name=".student.BookSimilarActivity" />
        <activity android:name=".student.BookReviewsActivity" />
        <activity android:name=".student.BookDetailsActivity" />
        <activity android:name=".student.ProfilePhotoActivity" />
        <activity android:name=".student.MyBooksActivity" />
        <activity android:name=".student.ProfileActivity" />
        <activity android:name=".student.RecoverPasswordActivity" />
        <activity
            android:name=".student.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".admin.AdminHomeActivity" />
        <activity android:name=".admin.AdminStudentsActivity" />
        <activity android:name=".admin.AdminStudentProfileActivity" />
        <activity android:name=".admin.AdminReadBooksActivity" />
        <activity android:name=".admin.AdminBookDetailActivity" />
        <activity android:name=".admin.AdminRequestActivity" />
        <activity android:name=".admin.AdminRecordsActivity" />
    </application>

</manifest>